* {
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
}
.container {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 50px, 20px;
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 800px;
    height: 450px;
    
}
h3 {
    margin-top: 30px;
    letter-spacing: 2px;
}
.joke {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: blueviolet;
    font-family: var(--bs-font-sans-serif);
    margin-top: 3rem;
    color: black;
    border: 2px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    width: 10rem;

}
.btn:active {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.btn:focus {
    outline: 0;
}
.star{
    border: 0rem;
    font-size: 1.8rem;
    background-color: rgba(0,0,0,0.0) !important;
}
.star:hover{
    transform: scale(1.5);
    transition: transform 0.5s;
}